
\.idea/

howlongtobeatpy/dist/

howlongtobeatpy/tests/__pycache__/

howlongtobeatpy/howlongtobeatpy/__pycache__/

howlongtobeatpy/howlongtobeatpy\.egg-info/

howlongtobeatpy/LICENSE\.md

howlongtobeatpy/README\.md

\.scannerwork/
