language: python
python:
    - 3.6

addons:
  sonarcloud:
    organization: "scrappycocco-github"

cache:
  directories:
    - '$HOME/.sonar/cache'

# command to install dependencies
install:
  - pip install howlongtobeatpy
  - pip install nose
  - pip install codecov

# command to run tests
script:
  - nosetests howlongtobeatpy --with-coverage
  - coverage xml

after_success:
  - codecov
  - sonar-scanner
