# This workflows will test the dev version of the API when pushed on github

name: Python Test Github Dev Version

on:
  [push, pull_request, discussion, issues]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.6'
    - name: Install dependencies
      run: |
        cd howlongtobeatpy
        python -m pip install --upgrade pip
        pip install nose codecov
        pip install .
    - name: Test
      run: |
        nosetests howlongtobeatpy --with-coverage
        coverage xml
    - name: Upload Coverage codecov
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        codecov
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
