# This workflows will test the dev version of the API when pushed on github

name: Python Test Github Community

on:
  [pull_request, discussion, issues]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        cd howlongtobeatpy
        python -m pip install --upgrade pip
        pip install -U pytest
        pip install codecov
        pip install .
    - name: Test
      run: |
        coverage run -m pytest -v && coverage report -m
        coverage xml
